In [1]:
# Import Dependencies
import pandas as pd
import gmaps
from config import gkey

gmaps.configure(api_key=gkey)

In [2]:
# Create a DataFrame of frames using a dictionary of lists
#file_path = "time_series_covid19_confirmed_US.csv"
file_path = "time_series_covid19_deaths_US.csv"
covid_data_df = pd.read_csv(file_path)
covid_data_df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,4,4,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,2,2,2,2,2,2,2,2,2,2
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,33,39,42,44,45,45,51,56,58,60
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,1,1,1,1,1,1,1,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3250,84090055,US,USA,840,90055.0,Unassigned,Wisconsin,US,0.0000,0.0000,...,0,0,0,0,0,0,0,0,0,0
3251,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.0000,0.0000,...,0,0,0,0,0,0,0,1,1,1
3252,84099999,US,USA,840,99999.0,NaN,Grand Princess,US,0.0000,0.0000,...,3,3,3,0,0,0,0,0,0,0
3253,84070004,US,USA,840,NaN,Michigan Department of Corrections (MDOC),Michigan,US,0.0000,0.0000,...,0,0,0,0,8,9,12,12,15,17
3254,84070005,US,USA,840,NaN,Federal Correctional Institution (FCI),Michigan,US,0.0000,0.0000,...,0,0,0,0,0,0,0,0,0,0

In [3]:
covid_data_df = covid_data_df.dropna()

In [4]:
cleaned_covid_data_df = covid_data_df.loc[covid_data_df["Lat"]!=0.0,]
cleaned_covid_data_df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1,1,1,1,1,1,1,1,2,2
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,1,1,1,1,1,2,2,2,2,2
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,0,0,0,0,0,0,0,0,0,0
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,0,0,0,0,0,0,0,0,0,0
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,84056037,US,USA,840,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,...,0,0,0,0,0,0,0,0,0,0
3143,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,0,0,0,0,0,0,0,0,0,0
3144,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,0,0,0,0,0,0,0,0,0,0
3145,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,0,0,0,0,0,0,0,0,0,0
3146,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,0,0,0,0,0,0,0,0,0,0

In [5]:
cleaned_covid_data_df.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population',
       '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
       '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
       '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
       '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
       '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20',
       '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20',
       '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20',
       '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20'],
      dtype='object')

In [6]:
#cleaned_covid_data_df.info()

In [10]:
locations = cleaned_covid_data_df[["Lat", "Long_"]]
confirmed_case = cleaned_covid_data_df["4/18/20"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=confirmed_case, 
                                 dissipating=False,  max_intensity=1000,
                                 point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations

            Lat       Long_
5     32.539527  -86.644082
6     30.727750  -87.722071
7     31.868263  -85.387129
8     32.996421  -87.125115
9     33.982109  -86.567906
...         ...         ...
3142  41.659439 -108.882788
3143  43.935225 -110.589080
3144  41.287818 -110.547578
3145  43.904516 -107.680187
3146  43.839612 -104.567488

[3142 rows x 2 columns]

In [9]:
cleaned_covid_data_df["4/18/20"].max()

13202